.linelist-widget {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: absolute;
    border: 1px solid black;
}


.leftcol {
    flex-grow: 30;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    /*background-color: lightblue;*/
}
.rightcol {
    flex-grow: 70;
    flex-basis: 0;
    display: flex;
    /*background-color: lightgreen;*/
}


/*cliable widget fix*/
.linelist-widget > a {
	text-decoration: none;
	color: black;
}

/*selector options*/
.linelist-widget:hover {
    background-color: darkgray;
}

.selected {
    border: 2px solid black;
	
}
/*end selector options*/
