
<div class="panel panel-default linelist-widget" ng-style="widget.position_class">
	<a href="javascript:void(0)" ng-click="main.selectedContext = widget" >
		
		<ul class="inline">
			<li ng-repeat="price in widget.data_binding.lineItems"> {{ price }}</li>
		</ul>
		<strong>{{widget.properties.display_name.data}}</strong>
		<!--binding from msp / configurable property-->
		<img src="http://masswallpapers.mobi/wp-content/uploads/burger-tumblr-background-photo-5.png" alt="Smiley face" height="42" width="42">
	</a>
</div>