<!-- global to this scope: widget -->
<!--Widget Template Defintiion-->
<div class="linelist-widget" ng-style="widget.position_class" ng-class="builder.selectedContext == widget ? 'selected' : '' ">
	<a href="javascript:void(0)" ng-click="builder.selectWidget(widget)">
		
		<div class="leftcol">
			<div>{{ widget.getProperty('display_name').data }}</div>
		</div>
		<div class="rightcol">
			<div>test123</div>
		</div>
	</a>
	
	<!--SubWidgets	-->
	<div ng-repeat="widget in widget.subWidgets track by $index">
		<div ng-include src="widget.templateurl"></div>
	</div>
	<!--End SubWidgets-->
</div>
<!--End Widget Template Definition-->