
.builder-app {
    
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 100px);
}


.widgets-panel
{ 
    /*flex-grow: 30;*/
    width: 130px;
    text-align: center;
    position: flex;
    padding: 15px;
    border-style: groove;
    background-color: #D6D6C2;
}

.widget-group {
    text-align: center;
}

.rightcol {
    flex-basis: 0;
    flex-grow: 100;
    flex-direction: column;
}

.stage {
    margin-left: -3px;
    height: calc(100vh - 298px);
    max-height: calc( (100vw - 38px) * .5625 );
    width: calc(100vw - 127px);
    max-width: calc( (100vh - 350px) * 1.777 );
    border-style: groove;
}

.context-panel {
    height: 200px;    
    margin-left: -3px;
    padding: 5px;
    bottom: 50px;
    position: absolute;
    width: calc(100vw - 127px);
    max-width: calc( (100vh - 350px) * 1.777 );
    border-style: groove;
    overflow-y: auto;
    background-color: #D6D6C2;    
    
}