<link rel="stylesheet" href="modules/builder/builder.style.css">
<div class='builder-app'>
	<div class='widgets-panel'>
		<h3>Widgets</h3>
		<div class="btn-group-vertical widget-group">
			<div ng-repeat="(prop, widget) in builder.Available_widgets">
				<button type="button" 
					ng-click="builder.addWidget(widget)" 
					class="btn btn-primary widget-button">{{ widget.name }}
				</button>
			</div>
		</div>
	</div>
	
		
	<div class="rightcol">
		
		<!--STAGE AREA-->
		<div  class="stage" ng-click="builder.stageClick()">	
			<div ng-repeat="widget in builder.stage.widgets">
				<div ng-include src="widget.templateurl"></div>
			</div>
		</div>	
		
		
		<!--CONTEXT AREA-->
		<div  class="context-panel">
			<div ng-show="builder.selectedContext != null" >
				
				<h3>
					Context: {{ builder.selectedContext.name }} {{ builder.selectedContext.uid }}
					<button type="button" class="btn btn-warning btn-xs" ng-click="builder.removeWidget(builder.selectedContext)">Remove Widget</button>
				</h3>
				
				
				
				<table class="table">
				<!--<thead>
					<tr>
						<th style="text-align: center">Property</th>
						<th style="text-align: center">Value</th>
					</tr>
				</thead>-->
				<tbody>
					<tr ng-repeat="_property in builder.selectedContext.properties">
						<td style="min-width: 150px">{{ _property.name }}</td>
						
						<!--CONDITIONAL TYPE-->
						<!--TEXT-->
						<td ng-show="_property.propType == 'text'">
							<input type="text" class="form-control" ng-model="_property.data" _property="{{ _property.data }}">					
						</td>
						
						<!--TEMPLATE-->
						<td ng-show="_property.propType == 'dropdown'">
							<select id="input" class="form-control" ng-change="builder.selectedContext.changeTemplate()"  ng-model="builder.selectedContext.templateurl">  
								<option ng-repeat="tmplate in _property.data track by $index">{{ tmplate.url }}</option>
							</select>
						</td>
						
						<!--POSITION-->
						<td ng-show="_property.propType == 'position'">
							<div ng-repeat="(tval, tkey) in _property.data">
								<div class="input-group">
									<span class="input-group-addon">{{ tval }}</span>
									<input ng-change="builder.onPositionUpdate(tval, tkey)" type="number" class="form-control" placeholder="150" ng-model="tkey" ng-value="{{ tkey }}">
								</div>
							</div>
						</td>
						
						<!--WIDGET POSITION-->
						<td ng-show="_property.propType=='widgetSelection'">					
							<div class="btn-group">
								<!--<div >-->
									<button ng-repeat="(prop, widget) in builder.Available_widgets" ng-click="builder.addWidget(widget, builder.selectedContext)"
										type="button" class="btn btn-default">{{ widget.name }}</button>
								<!--</div>-->
								<!--<button type="button" class="btn btn-default">Button 1</button>
								<button type="button" class="btn btn-default">Button 2</button>
								<button type="button" class="btn btn-default">Button 3</button>-->
							</div>
						</td>
		
					</tr>
					
				</tbody>
			</table>
		</div>
		
		</div>
		<!--CONTEXT:END-->
		
	</div>
</div>