.video-widget {
	font-size: 12px;
	width: 270px;
	margin: 0;
	float: none;
	display: block !important;
	padding: 0px !important;
	/*position: absolute;*/
}

.video-widget video {
	padding: 0px !important;
	margin: 0px !important;
	float: left;
}



